    {
      "name": "fr.openent~search-engine~${searchEngineVersion}",
      "config": {
        "main" : "fr.openent.searchengine.SearchEngine",
        "port" : 8053,
        "app-name" : "Searchengine",
    	"app-address" : "/searchengine",
    	"app-icon" : "searchengine-large",
        "app-type" : "END_USER",
        "host": "${host}",
        "ssl" : $ssl,
        "auto-redeploy": false,
        "userbook-host": "${host}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "${mode}",
        "entcore.port" : 8009,
        "max-sec-time-allowed" : 4,
        "paging-size-per-collection" : 10,
        "search-word-min-size" : 4,
        "frontend-ui" : "react"
      }
    }
